<form>
  <mat-form-field class="field" appearance="outline">
    <mat-label>
      <mat-icon style="margin-right:3px">people</mat-icon> Username
    </mat-label>
    <input type="text" [(ngModel)]="userName" name="userName" matInput placeholder="Username">
  </mat-form-field>
  <br>
  <mat-form-field class="field" appearance="outline">
    <mat-label>
      <mat-icon style="margin-right:3px">lock</mat-icon> Password
    </mat-label>
    <input type="password" [(ngModel)]="password" name="password" matInput placeholder="Password" mat-icon>
  </mat-form-field>
  <br>
  <button mat-raised-button class="btn btn btn-success"
    (click)="[gotoAdminLogin()]" type="submit" color="primary">Admin Login</button>
</form>
