<header>
  <h1>
    <i>Welcome ADMIN,</i>
  </h1>
</header>

<mat-tab-group mat-align-tabs="start">

  <mat-tab label="Verification Requested properties">
    <br>
      <mat-expansion-panel *ngFor="let prop of properties">
        <mat-expansion-panel-header>
          <b>{{prop.propertyName}}</b>
        </mat-expansion-panel-header>
        <ul>
          <li>Property Number: {{prop.propertyNumber}}</li>
          <li>Address: {{prop.addline1}} {{prop.addline2}} {{prop.addline3}} {{prop.addline4}}</li>
          <li>Postal Code: {{prop.postalCode}}</li>
          <li>Market Value: {{prop.marketValue}}</li>
          <li>Contact Details: {{prop.contactDetails}}</li>
          <li>GreenBelt: {{prop.greenBelt}}</li>
        </ul>
        <form>
          <mat-form-field appearance="fill">
            <mat-label>Add a comment</mat-label>
            <textarea matInput [(ngModel)] = "comment" name= "comment"></textarea>
          </mat-form-field>
          &nbsp;
          <button mat-raised-button class="btn btn btn-success" (click)="propertyVerified(prop,'VERIFIED')" type="submit" color="primary">Verify Property</button>
          &nbsp;
          <button mat-raised-button class="btn btn btn-success" (click)="propertyVerified(prop,'REJECTED')" type="submit" color="primary">Reject Verification</button>
        </form>
      </mat-expansion-panel>
  </mat-tab>

</mat-tab-group>

