.yellow-button{
    background-color:  #FFCB74;
    }
      .quesArea{
        width: 60%;

      }
      .panel{
        justify-content: center;
        margin-right: 6cm;
        margin-left: 6cm;
      }