<header>
  <h1>
    <i>Welcome ADMIN,</i>
  </h1>
</header>

<mat-tab-group mat-align-tabs="start">

  <mat-tab label="Verification Requested properties">
    <br>
      <mat-expansion-panel *ngFor="let prop of properties">
        <mat-expansion-panel-header>
          <b>{{prop.propertyName}}</b>
        </mat-expansion-panel-header>
        <ul>
          <li>Property Number: {{prop.propertyNumber}}</li>
          <li>Address: {{prop.addline1}} {{prop.addline2}} {{prop.addline3}}</li>
          <li>Postal Code: {{prop.postalCode}}</li>
          <li>Expected Amount: {{prop.marketValue}}</li>
          <li>GreenBelt: {{prop.greenBelt}}</li>
        </ul>
        <form>
          <mat-form-field appearance="fill">
            <mat-label>Add a comment</mat-label>
            <textarea matInput [(ngModel)] = "comment" name= "comment"></textarea>
          </mat-form-field>
          &nbsp;
          <button mat-raised-button class="btn btn btn-success yellow-button" (click)="propertyVerified(prop,'VERIFIED')" type="submit">Verify Property</button>
          &nbsp;
          <button mat-raised-button class="btn btn btn-success yellow-button" (click)="propertyVerified(prop,'REJECTED')" type="submit">Reject Verification</button>
        </form>
      </mat-expansion-panel>
  </mat-tab>

  <mat-tab label="Verify Payments">
    <br>
      <mat-expansion-panel *ngFor="let pay of payments">
        <mat-expansion-panel-header>
          <b>{{pay.entityType}} : {{pay.entityId}}</b>
        </mat-expansion-panel-header>
        <ul>
          <li>Transaction Amount: {{pay.transactionAmount}}</li>
          <li>Transaction Id: {{pay.transactionId}}</li>
          <li>Transaction Date: {{pay.transactionDate}}</li>
          <li>Transaction Time: {{pay.transactionTime}}</li>
        </ul>
          &nbsp;
          <button mat-raised-button class="btn btn btn-success yellow-button" (click)= "paymentVerified(pay.transactionId, pay.entityId, pay.entityType)" type="submit">Verify Payment</button>
          &nbsp;
      </mat-expansion-panel>
  </mat-tab>

  <mat-tab label="Legal Queries">
    <br>
      <mat-expansion-panel *ngFor="let que of questions">
        <mat-expansion-panel-header>
          <b>{{que.question}}</b>
        </mat-expansion-panel-header>
        <form>
          <mat-form-field appearance="fill">
            <mat-label>Enter response</mat-label>
            <textarea matInput [(ngModel)] = "answer" name= "answer"></textarea>
          </mat-form-field>
          &nbsp;
          <button mat-raised-button class="btn btn btn-success yellow-button" (click)="questionAnswered(que.QAId)" type="submit">Post Response</button>
        </form>
      </mat-expansion-panel>
  </mat-tab>

</mat-tab-group>

