<header>
  <h1>
    <i>Welcome {{ apibuyer.firstName }},</i>
    <button mat-raised-button class="legal" (click)="onCompletion()">Logout</button>
    <button *ngIf = "!buyer.legalSubscription" mat-raised-button class="legal" (click)="openDialog()">Get Legal Subscription</button>
  </h1>

</header>


<mat-tab-group mat-align-tabs="start" (selectedTabChange)="getAllBidsByBuyer($event)">
  <mat-tab label="Your profile">
    <mat-card class="profile-card-container">
      <mat-card-header class="card-header">
        <mat-card-title class="bottom-margin">Your Profile</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-contents">
        <div class="contents">
          <h4>Name:</h4>
          <h4>Address:</h4>
          <h4>Country:</h4>
          <h4>E-mail:</h4>
          <h4>Phone number:</h4>
        </div>
        <div class="contents">
          <p>{{apibuyer.firstName}} {{apibuyer.lastName}}</p>
          <p>{{apibuyer.addresses[0].line1}}</p>
          <p>{{apibuyer.countryOfResidency}}</p>
          <p>{{apibuyer.emailAddresses[0].address}}</p>
          <p>{{apibuyer.phoneNumbers[0].number}}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Available properties">
    <br>
    <button mat-raised-button class="btn btn btn-success" (click)="filterProperty()" type="submit" color="primary" *ngIf="allproperty">Show Verified Properties</button>
    <button mat-raised-button class="btn btn btn-success" (click)="filterProperty()" type="submit" color="primary" *ngIf="!allproperty">Show All Properties</button>
      <mat-expansion-panel  class="panel" *ngFor="let prop of properties">
        <mat-expansion-panel-header>
          <mat-panel-title class = "title-margin">
            <h2>{{ prop.propertyName }}</h2>
          </mat-panel-title>
          <mat-panel-description class = "title-margin" *ngIf="prop.verification === 'VERIFIED'" style="color:rgb(60, 145, 60);">
           VERIFIED 
          <mat-icon style="color:rgb(60, 145, 60);">  verified</mat-icon>
          </mat-panel-description>
          <mat-panel-description *ngIf="prop.verification != 'REJECTED' && prop.verification != 'VERIFIED'">
            {{prop.verification}}
          </mat-panel-description>
       
           
        </mat-expansion-panel-header>
        <mat-card>
          <mat-card-content class="card-contents">
            <div class="contents">
              <h2>Property Number: {{prop.propertyNumber}}</h2>
                     <h4>Address: {{prop.addline1}} {{prop.addline2}} {{prop.addline3}} {{prop.addline4}}</h4>
            <h4>Postal Code: {{prop.postalCode}}</h4>
            <h4>Market Value: {{prop.marketValue}}</h4>
            <h4>Contact Details: {{prop.contactDetails}}</h4>
            <h4>GreenBelt: {{prop.greenBelt}}</h4>
            <h4 *ngIf="prop.verification === 'VERIFIED'">comment: {{prop.comment}} </h4>
            </div>
          </mat-card-content>
        </mat-card>
        <br>
        <form>
          <label>Proposed Amount : </label>          
          <input type="text" [(ngModel)] = "proposedAmount" name= "proposedAmount">&nbsp;
          <button mat-raised-button class="btn btn btn-success" (click)="createBid(prop.propertyId, prop.customerId, prop.propertyName)" type="submit" color="primary">Submit bid</button>
        </form>
      </mat-expansion-panel>
  </mat-tab>

  <mat-tab label="My bids">
    <br>
    <div *ngIf=bids.length>
      <mat-expansion-panel class="panel" *ngFor="let bid of bids">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Bid for {{ bid.propertyName }}</b>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-card>
        <mat-card-content class="card-contents">
          <div class="property-contents">
            <h4>Bid value: {{ bid.proposedAmount }}</h4>
            <h4>Bid status: {{ bid.status }}</h4>
          </div>
        </mat-card-content>
      </mat-card>
      </mat-expansion-panel>
    </div>
  </mat-tab>

  <mat-tab *ngIf = "buyer.legalSubscription" label="Legal Advisory">
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Post a question</mat-label>
        <textarea matInput [(ngModel)] = "question" name= "question"></textarea>
      </mat-form-field>
      &nbsp;
      <button mat-raised-button class="btn btn btn-success" (click)="postQuestion()" type="submit" color="primary">Post</button>
     </form>

     <div *ngIf=questions.length>
      <mat-expansion-panel class="panel" *ngFor="let ques of questions">
        <mat-expansion-panel-header>
            <b>{{ ques.question }}</b>
        </mat-expansion-panel-header>

        <mat-card>
        <mat-card-content class="card-contents">
          {{ques.answer}}
        </mat-card-content>
      </mat-card>
      </mat-expansion-panel>
    </div>
  </mat-tab>
</mat-tab-group>
