<header>
  <h1>
    <i>Welcome {{ apibuyer.firstName }},</i>
    <button mat-icon-button class="legal" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="profile">
        <mat-icon>account_circle</mat-icon>
        <span>My Profile</span>
      </button>
      <button mat-menu-item [disabled] = "buyer.legalSubscription" (click)="openDialog()">
        <mat-icon>workspace_premium</mat-icon>
        <span>Get Legal Subscription</span>
      </button>
      <button mat-menu-item (click)="deactivateAccount()">
        <mat-icon>no_accounts</mat-icon>
        <span>Deactivate Account</span>
      </button>
      <button mat-menu-item (click)="onCompletion()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
    <mat-menu #profile="matMenu">
      <button mat-menu-item class="disable-click">
        <mat-icon>face</mat-icon>
        <span>{{apibuyer.firstName}} {{apibuyer.lastName}}</span>
      </button>
      <button mat-menu-item class="disable-click">
        <mat-icon>perm_identity</mat-icon>
        <span>{{apibuyer.identification.id}}</span>
      </button>
      <button mat-menu-item class="disable-click">
        <mat-icon>email</mat-icon>
        <span>{{apibuyer.emailAddresses[0].address}}</span>
      </button>
      <button mat-menu-item class="disable-click">
        <mat-icon>phone</mat-icon>
        <span>{{apibuyer.phoneNumbers[0].number}}</span>
      </button>
      <button mat-menu-item (click)="editBuyerProfile()">
        <mat-icon>create</mat-icon>
        <span>Edit Profile</span>
      </button>
    </mat-menu>
   </h1>

</header>


<mat-tab-group mat-align-tabs="start" (selectedTabChange)="getAllBidsByBuyer($event)">

  <mat-tab label="Available properties">
    <br>
    <button mat-raised-button style="margin-left:.5cm;" class="btn btn btn-success" (click)="filterProperty()" type="submit" color="primary" *ngIf="allproperty">Show Verified Properties</button>
    <button mat-raised-button style="margin-left:.5cm;" class="btn btn btn-success" (click)="filterProperty()" type="submit" color="primary" *ngIf="!allproperty">Show All Properties</button>
      <mat-expansion-panel  class="panel" *ngFor="let prop of properties">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>{{ prop.propertyName }}</b>
          </mat-panel-title>
          <mat-panel-description *ngIf="prop.verification === 'VERIFIED'" style="color:rgb(60, 145, 60);">
           VERIFIED
          <mat-icon style="color:rgb(60, 145, 60);">  verified</mat-icon>
          </mat-panel-description>
          <mat-panel-description *ngIf="prop.verification != 'VERIFIED'">
            {{prop.verification}}
          </mat-panel-description>

        </mat-expansion-panel-header>
        <mat-card>
          <mat-card-content class="card-contents">
            <div class="property-contents">
              <h4>Address:</h4>
              <h4>Postal code:</h4>
              <h4>Expected Amount:</h4>
              <h4>GreenBelt:</h4>
              <h4 *ngIf="prop.verification === 'VERIFIED'">Verification comment:</h4>
            </div>
            <div class="property-contents">
              <p>{{prop.addline1}}</p>
              <p>{{prop.postalCode}}</p>
              <p>{{prop.marketValue}}</p>
              <p>{{prop.greenBelt}}</p>
              <p *ngIf="prop.verification === 'VERIFIED'">{{prop.comment}}</p>
            </div>
          </mat-card-content>
        </mat-card>
        <br>
        <form>
          <label>Proposed Amount : </label>
          <input type="text" [(ngModel)] = "proposedAmount" name= "proposedAmount">&nbsp;
          <button mat-raised-button class="btn btn btn-success" (click)="createBid(prop.propertyId, prop.customerId, prop.propertyName)" type="submit" color="primary">Submit bid</button>
        </form>
      </mat-expansion-panel>
  </mat-tab>

  <mat-tab label="My bids">
    <br>
    <div *ngIf=bids.length>
      <mat-expansion-panel class="panel" *ngFor="let bid of bids">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Bid for {{ bid.propertyName }}</b>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-card>
        <mat-card-content class="card-contents">
          <div class="property-contents">
            <h4>Bid value: {{ bid.proposedAmount }}</h4>
            <h4>Bid status: {{ bid.status }}</h4>
            <button *ngIf="bid.status === 'ACCEPTED'" mat-raised-button class="btn btn btn-success" (click) = "getCustomerDetails(bid.customerId)" color="primary">Get Seller Details</button>
          </div>
        </mat-card-content>
      </mat-card>
      </mat-expansion-panel>
    </div>
  </mat-tab>

  <mat-tab *ngIf = "buyer.legalSubscription" label="Legal Advisory">
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Post a question</mat-label>
        <textarea matInput [(ngModel)] = "question" name= "question"></textarea>
      </mat-form-field>
      &nbsp;
      <button mat-raised-button class="btn btn btn-success" (click)="postQuestion()" type="submit" color="primary">Post</button>
     </form>

     <div *ngIf=questions.length>
      <mat-expansion-panel class="panel" *ngFor="let ques of questions">
        <mat-expansion-panel-header>
            <b>{{ ques.question }}</b>
        </mat-expansion-panel-header>

        <mat-card>
        <mat-card-content class="card-contents">
          {{ques.answer}}
        </mat-card-content>
      </mat-card>
      </mat-expansion-panel>
    </div>
  </mat-tab>
</mat-tab-group>
