<mat-card class="card-container">
  <mat-card-header class="card-header">
    <mat-card-title class="bottom-margin">Edit Property Details</mat-card-title>
  </mat-card-header>
  <form class="full-width form-container" [formGroup]="propertyForm">
    <mat-form-field class="field">
      <input type="text" matInput placeholder="Property Name"  formControlName= "propertyName"/>
    </mat-form-field>
    <mat-form-field class="field">
      <input type="text" matInput placeholder="Property Number"  formControlName= "propertyNumber" name= "propertyNumber" required/>
    </mat-form-field>
    <mat-form-field class="field">
      <input type="text" matInput placeholder="Address Line 1"  formControlName= "addline1" name= "addline1"/>
    </mat-form-field>
    <mat-form-field class="field">
      <input type="text" matInput placeholder="Address Line 2"  formControlName= "addline2" name= "addline2"/>
    </mat-form-field>
    <mat-form-field class="field">
      <input type="text" matInput placeholder="Address Line 3"  formControlName= "addline3" name= "addline3"/>
    </mat-form-field>
    <mat-form-field class="field">
      <input type="text" matInput placeholder="Address Line 4"  formControlName= "addline4" name= "addline4"/>
    </mat-form-field>
    <mat-form-field class="field">
      <input type="number" matInput placeholder="Postal Code"  formControlName= "postalCode" name= "postalCode" required/>
    </mat-form-field>
  <mat-form-field class="field">
    <input type="number" matInput placeholder="Market Value" formControlName= "marketValue" name= "marketValue" required/>
  </mat-form-field>
  <mat-form-field class="field">
    <input type="number" matInput placeholder="Contact Details" formControlName= "contactDetails" name= "contactDetails"/>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" class="left-margin" (click)="updateProperty()" type="submit">Save</button>
   </form>
</mat-card>
