<mat-card class="card-container">
  <mat-card-header class="card-header">
    <mat-card-title class="bottom-margin">Edit Property Details</mat-card-title>
  </mat-card-header>
  <form class="full-width form-container">
    <mat-form-field class="field">
      <input type="text" matInput placeholder="Property Name" [(ngModel)] = "propertyName" name= "propertyName"/>
    </mat-form-field>
    <mat-form-field class="field">
      <input type="text" matInput placeholder="Property Number" [(ngModel)] = "propertyNumber" name= "propertyNumber" required/>
    </mat-form-field>
    <mat-form-field class="field">
      <input type="text" matInput placeholder="Address Line 1" [(ngModel)] = "addline1" name= "addline1"/>
    </mat-form-field>
    <mat-form-field class="field">
      <input type="text" matInput placeholder="Address Line 2" [(ngModel)] = "addline2" name= "addline2"/>
    </mat-form-field>
    <mat-form-field class="field">
      <input type="text" matInput placeholder="Address Line 3" [(ngModel)] = "addline3" name= "addline3"/>
    </mat-form-field>
    <mat-form-field class="field">
      <input type="number" matInput placeholder="Postal Code" [(ngModel)] = "postalCode" name= "postalCode" required/>
    </mat-form-field>
  <mat-form-field class="field">
    <input type="number" matInput placeholder="Expected Amount" [(ngModel)] = "marketValue" name= "marketValue" required/>
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label>Ownership</mat-label>
    <mat-select [(ngModel)] = "ownership" name="ownership" required>
      <mat-option *ngFor="let o of ownershiptype" [value]= "o">
        {{o}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label>Green Belt</mat-label>
  <mat-select [(ngModel)]="greenBelt" name="greenBelt" required>
    <mat-option value="YES">YES</mat-option>
    <mat-option value="NO">NO</mat-option>
  </mat-select>
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label>Property Type</mat-label>
    <mat-select [(ngModel)] = "propertyType" name="propertyType" required>
      <mat-option *ngFor="let t of type" [value]= "t">
        {{t}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="field">
    <input type="text" matInput placeholder="Area" [(ngModel)] = "area" name= "area" required/>
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label>Area Unit</mat-label>
    <mat-select [(ngModel)] = "areaUnit" name="areaUnit" required>
      <mat-option *ngFor="let a of areaunits" [value]= "a">
        {{a}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label>Additional Details</mat-label>
    <textarea matInput [(ngModel)] = "notes" name= "notes"></textarea>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" class="left-margin" (click)="updateProperty()" type="submit">Save Changes</button>
  </form>
</mat-card>
