.full-width{
  width: 100%;
}
.top-padding{
  padding-top: 3px;
}
.bottom-margin{
  margin-bottom: 15px;
}
.top-margin{
  margin-top: 15px;
}
.left-margin{
  margin-left: 15px;
}
.card-container{
  margin: 50px 100px;
}
.form-container{
  padding-left: 15px;
}
.half-width{
  width: 50%;
}
.field{
  width: 40%;
  margin: 15px 30px 0px 30px;
}
input{
  font-size: medium;
}
.otpHeader{
  font-size: 50px;
}
.card-header{
  background-color: #FFCB74;
  color: white;
  padding-top: 10px;
}
.dialog-card{
  display: flex;
  flex-direction: column;
  // background-color: aquamarine;
  justify-content: center;
  // align-items: center;
}
.inputField{
  width: 90%;
  margin-top: 15px;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3f51b5;
  font-size: large;
  margin-left: 10px;
}
.yellow-button{
  background-color:  #FFCB74;
  }
