<header>
  <h1>
    <i>Bids for {{propertyName}},</i>
  </h1>
</header>

<mat-tab-group mat-align-tabs="start" (selectedTabChange)="getBids($event)">
  <mat-tab label="Incoming Bids">
    <mat-card class="profile-card-container">
      <mat-card-content class="card-contents">
        <mat-expansion-panel *ngFor="let bid of bids">
          <mat-expansion-panel-header>
            <b>Bid from {{bid.buyerName}}</b>
          </mat-expansion-panel-header>
          <mat-card>
            <mat-card-content class="card-contents">
              <div class="property-contents">
                <h4>Bid value: {{ bid.proposedAmount }}</h4>
              </div>
            </mat-card-content>
          </mat-card>
          <br>
          <button mat-raised-button [disabled]="bidResponded" class="yellow-button" (click)="updateBid(bid, 'ACCEPTED')" >Accept</button>
          &nbsp;
          <button mat-raised-button [disabled]="bidResponded" class="yellow-button" (click)="updateBid(bid, 'DECLINED')" >Decline</button>
        </mat-expansion-panel>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Accepted Bids">
    <mat-card class="card-container">
      <mat-expansion-panel *ngFor="let bid of acceptedBids">
        <mat-expansion-panel-header>
          <b>Bid from {{bid.buyerName}}</b>
        </mat-expansion-panel-header>
        <mat-card>
          <mat-card-content class="card-contents">
            <div class="property-contents">
              <h4>Bid value: {{ bid.proposedAmount }}</h4>
            </div>
          </mat-card-content>
        </mat-card>
        <br>
        <button mat-raised-button [disabled]="bidResponded" (click)="[updateBid(bid, 'DECLINED')]" class="yellow-button" >Decline</button>
        &nbsp;
        <button mat-raised-button class="btn btn btn-success" (click) = "getBuyerDetails(bid.buyerId)" class="yellow-button">Get Buyer Details</button>   
      </mat-expansion-panel>
    </mat-card>
  </mat-tab>

  <mat-tab label="Declined Bids">
    <mat-card class="card-container">
      <mat-expansion-panel *ngFor="let bid of declinedBids">
        <mat-expansion-panel-header>
          <b>Bid from {{bid.buyerName}}</b>
        </mat-expansion-panel-header>
        <mat-card>
          <mat-card-content class="card-contents">
            <div class="property-contents">
              <h4>Bid value: {{ bid.proposedAmount }}</h4>
            </div>
          </mat-card-content>
        </mat-card>
        <br>
        <button mat-raised-button [disabled]="bidResponded" (click)="[updateBid(bid, 'ACCEPTED')]" class="yellow-button">Accept</button>
        </mat-expansion-panel>
    </mat-card>
  </mat-tab>
</mat-tab-group>

