<h3>Welcome {{propertyId}}</h3>

<mat-expansion-panel *ngFor="let bi of bids">
  <mat-expansion-panel-header>
    <b>Bid from {{bi.buyerName}}</b>
  </mat-expansion-panel-header>
  <ul>
    <li>{{bi.proposedAmount}}</li>
  </ul>
  <button mat-raised-button [disabled]="bidResponded" (click)="[updateBid(bi.bidId, 'ACCEPTED'), updateProperty(bi.propertyId,'NOT AVAILABLE')]" color="primary">Accept</button>
  &nbsp;
  <button mat-raised-button [disabled]="bidResponded" (click)="updateBid(bi.bidId, 'DECLINED')" color="primary">Decline</button>
</mat-expansion-panel>
