<mat-card class="card-container">
  <mat-card-header class="card-header">
    <mat-card-title class="bottom-margin">Seller Details</mat-card-title>
  </mat-card-header>
  <form class="full-width form-container">
    <mat-form-field class="field">
      <mat-label>Title</mat-label>
      <mat-select [(ngModel)]="title" name="title">
        <mat-option value="Mrs">Mrs</mat-option>
        <mat-option value="Ms">Ms</mat-option>
        <mat-option value="Mr">Mr</mat-option>
        <mat-option value="Doctor">Doctor</mat-option>
        <mat-option value="Professor">Professor</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="field">
      <input type="text" matInput placeholder="First Name" [(ngModel)] = "firstName" name= "firstName" required/>
    </mat-form-field>
    <mat-form-field class="field">
      <input type="text" matInput placeholder="Last Name" [(ngModel)] = "lastName" name= "lastName"/>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Gender</mat-label>
      <mat-select [(ngModel)]="gender" name="gender">
        <mat-option value="MALE">MALE</mat-option>
        <mat-option value="FEMALE">FEMALE</mat-option>
        <mat-option value="UNDISCLOSED">UNDISCLOSED</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Id Type</mat-label>
      <mat-select [(ngModel)] = "idType" name="idType" required>
        <mat-option [value]="'CCPT'">Passport Number</mat-option>
        <mat-option [value]="'EMPL'">Drivers License Number</mat-option>
        <mat-option [value]="'SOSE'">PAN</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="field">
      <input type="text" matInput placeholder="Id Number" [(ngModel)] = "idNumber" name= "id" required/>
    </mat-form-field>
    <mat-form-field class="field">
      <input matInput [matDatepicker]="picker" placeholder="Date of Birth" [(ngModel)] = "dateOfBirth" name= "dateOfBirth">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-card-header>
      <mat-card-subtitle class="top-margin" style="margin-bottom:0"><b>Address Details:</b></mat-card-subtitle>
    </mat-card-header>
    <address>
    <mat-form-field class="field">
      <input type="text" matInput placeholder="Address Line1" [(ngModel)] = "addline1" name= "addline1"/>
    </mat-form-field>
    <mat-form-field class="field">
      <input type="text" matInput placeholder="Address Line2" [(ngModel)] = "addline2" name= "addline2"/>
    </mat-form-field>
    <mat-form-field class="field">
      <input type="text" matInput placeholder="Address Line3" [(ngModel)] = "addline3" name= "addline3"/>
    </mat-form-field>
    <mat-form-field class="field">
      <input type="text" matInput placeholder="Address Line4" [(ngModel)] = "addline4" name= "addline4"/>
    </mat-form-field>
    <mat-form-field class="field">
      <input type="text" matInput placeholder="Address Line5" [(ngModel)] = "addline5" name= "addline5"/>
    </mat-form-field>
    <mat-form-field class="field">
      <input type="text" matInput placeholder="Country Code" [(ngModel)] = "countryOfResidency" name= "countryOfResidency" required/>
    </mat-form-field>
    <mat-form-field class="field">
      <input type="text" matInput placeholder="Building" [(ngModel)] = "buildingNumber" name= "buildingNumber"/>
    </mat-form-field>
    <mat-form-field class="field">
      <input type="number" matInput placeholder="Postal Code" [(ngModel)] = "postalCode" name= "postalCode" required/>
    </mat-form-field>
  </address>
  <mat-card-header>
    <mat-card-subtitle class="top-margin" style="margin-bottom:0"><b>Contact Details:</b></mat-card-subtitle>
  </mat-card-header>
  <mat-form-field class="field">
    <input type="email" matInput placeholder="Email id" [(ngModel)] = "emailAddress" name= "emailAddress" required/>
  </mat-form-field>
  <mat-form-field class="field">
    <input type="text" matInput placeholder="Phone number" [(ngModel)] = "phoneNumber" name= "phoneNumber" required/>
  </mat-form-field>
  <mat-card-header *ngIf="!updateDetails">
    <mat-card-subtitle class="top-margin" style="margin-bottom:0"><b>Login Credentials:</b></mat-card-subtitle>
  </mat-card-header>
  <mat-form-field class="field" *ngIf="!updateDetails">
    <input type="text" matInput placeholder="User Name" [(ngModel)] = "userName" name= "userName" required/>
  </mat-form-field>
  <mat-form-field class="field" *ngIf="!updateDetails">
    <input type="password"  matInput placeholder="Password" [(ngModel)] = "password" name= "password" required/>
  </mat-form-field>
  <!-- <mat-card-header *ngIf="!updateDetails">
    <mat-card-subtitle class="top-margin" style="margin-bottom:0"><b>OTP Verification:</b></mat-card-subtitle>
  </mat-card-header>
  <mat-form-field class="field" *ngIf="!updateDetails">
    <input type="text" matInput placeholder="Enter OTP" [(ngModel)] = "passcode" name= "passcode"/>
  </mat-form-field>
  <button *ngIf="otpStatus != 'approved'" mat-raised-button color="primary" class="top-margin left-margin" (click) = "sendOtp()">Get OTP</button>
  <button *ngIf="otpStatus != 'approved'" mat-raised-button color="primary" class="top-margin left-margin" (click) = "verifyOtp()">Verify OTP</button>
  &nbsp; -->
  <br>
  <a routerLink = "/customer/{{this.customerId}}">
    <button mat-raised-button *ngIf="updateDetails" color="primary" class="top-margin left-margin" (click)="updateCustomer()" type="submit">Update Seller Details</button>
  </a>
  <button mat-raised-button *ngIf="!updateDetails" [disabled] = "customerAdded" color="primary" class="top-margin left-margin" (click)="[openDialog()]" type="submit">Register Seller</button>

  </form>
</mat-card>
