<header>
  <h1>
    <i>Welcome {{ customer.firstName }},</i>
  </h1>
</header>

<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Your profile">
    <mat-card class="profile-card-container">
      <mat-card-header class="card-header">
        <mat-card-title class="bottom-margin">Your Profile</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-contents">
        <div class="contents">
          <h4>Name:</h4>
          <h4>Address:</h4>
          <br>
          <h4>Country:</h4>
          <h4>E-mail:</h4>
          <h4>Phone number:</h4>
        </div>
        <div class="contents">
          <p>{{customer.firstName}} {{customer.lastName}}</p>
          <p>{{customer.addresses[0].line1}}</p>
          <p>{{customer.countryOfResidency}}</p>
          <p>{{customer.emailAddresses[0].address}}</p>
          <p>{{customer.phoneNumbers[0].number}}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Add property">
    <mat-card class="card-container">
      <mat-card-header class="card-header">
        <mat-card-title class="bottom-margin">Property Details</mat-card-title>
      </mat-card-header>
      <form class="full-width form-container">
        <mat-form-field class="field">
          <input type="text" matInput placeholder="Property Name" [(ngModel)] = "propertyName" name= "propertyName"/>
        </mat-form-field>
        <mat-form-field class="field">
          <input type="text" matInput placeholder="Property Number" [(ngModel)] = "propertyNumber" name= "propertyNumber"/>
        </mat-form-field>
        <mat-form-field class="field">
          <input type="text" matInput placeholder="Address Line 1" [(ngModel)] = "addline1" name= "addline1"/>
        </mat-form-field>
        <mat-form-field class="field">
          <input type="text" matInput placeholder="Address Line 2" [(ngModel)] = "addline2" name= "addline2"/>
        </mat-form-field>
        <mat-form-field class="field">
          <input type="text" matInput placeholder="Address Line 3" [(ngModel)] = "addline3" name= "addline3"/>
        </mat-form-field>
        <mat-form-field class="field">
          <input type="text" matInput placeholder="Address Line 4" [(ngModel)] = "addline4" name= "addline4"/>
        </mat-form-field>
        <mat-form-field class="field">
          <input type="number" matInput placeholder="Postal Code" [(ngModel)] = "postalCode" name= "postalCode"/>
        </mat-form-field>
      <mat-form-field class="field">
        <input type="text" matInput placeholder="Market Value" [(ngModel)] = "marketValue" name= "marketValue"/>
      </mat-form-field>
      <mat-form-field class="field">
        <input type="number" matInput placeholder="Contact Details" [(ngModel)] = "contactDetails" name= "contactDetails"/>
      </mat-form-field>
      <mat-form-field class="field">
        <input type="text" matInput placeholder="Green Belt" [(ngModel)] = "greenBelt" name= "greenBelt"/>
      </mat-form-field>
      <br>
      <button mat-raised-button [disabled]="propertyAdded" color="primary" class="left-margin" (click)="addProperty()" type="submit">Add Property <mat-icon *ngIf="propertyAdded">check_box</mat-icon></button>
      </form>
    </mat-card>
  </mat-tab>

  <mat-tab label="Property details">
    <br />
    <div *ngIf=properties.length>
    <mat-expansion-panel class="panel" *ngFor="let prop of properties">
      <mat-expansion-panel-header>
        <b>{{ prop.propertyName }}</b>
      </mat-expansion-panel-header>
      <mat-card>
      <mat-card-content class="card-contents">
        <div class="property-contents">
          <h4>Address:</h4>
          <h4>Postal code:</h4>
          <h4>Market value:</h4>
          <h4>Contact details:</h4>
          <h4>GreenBelt:</h4>
        </div>
        <div class="property-contents">
          <p>{{prop.addline1}}</p>
          <p>{{prop.postalCode}}</p>
          <p>{{prop.marketValue}}</p>
          <p>{{prop.contactDetails}}</p>
          <p>{{prop.greenBelt}}</p>
        </div>
      </mat-card-content>
      <mat-card-actions>
      <button
      mat-raised-button
      (click)="gotoPropertyBids(prop.propertyId)"
      class="top-margin left-margin"
      color="primary"
    >
      View bids
    </button>
  </mat-card-actions>
    </mat-card>
    </mat-expansion-panel>
  </div>
    <h3 *ngElse>No properties added</h3>
  </mat-tab>
</mat-tab-group>
