<mat-card>
  <div class="container">

    <h4>Login User</h4>
    <form>
      <div class="form-group">
        <label>User Name</label>&nbsp;
        <input type="text" [(ngModel)] = "userName" name= "userName" class = "form-control">
      </div><br>
      <div class="form-group">
        <label>Password</label>&nbsp;
        <input type="password" [(ngModel)] = "password" name= "password" class = "form-control">
      </div><br>
      <button mat-raised-button class="btn btn btn-success" (click)="[getCustomerByUserName(), gotoCustomerProfile()]" type="submit" color="primary">Login as Seller</button>
      &nbsp;
      <button mat-raised-button class="btn btn btn-success" (click)="[getBuyerByUserName(), gotoBuyerProfile()]" type="submit" color="primary">Login as Buyer</button>
    </form>
    <br>
    Not already registered? &nbsp;
    <a [routerLink]="['/customeronboarding']"> Register as Seller</a> /
    <a [routerLink]="['/buyeronboarding']"> Register as Buyer</a>
    </div>

</mat-card>
